$bg-opacity: rgba(233, 233, 233, 0.611);
$font-base-color: #333;

$color-main: #00488e;
$color-bg-base: orange;

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Mochiy+Pop+P+One&display=swap');
